<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<!--js lib-->
<script src="js/lib/jquery-3.1.1.min.js"></script>
<script src="js/lib/jquery.dataTables.js"></script>
<script src="js/lib/bootstrap.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="js/lib/backbone.js"></script>

<!--js user-->
<script src="js/models.js"></script>
<script src="js/laptopRowView.js"></script>
<script src="js/laptopTableView.js"></script>
<script src="js/laptopDetailsView.js"></script>
<script src="js/addLaptopDetailsView.js"></script>
<script src="js/app.js"></script>

<!--css-->
<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<style>
.input-group-addon {
	width: 11em;
	text-align: right;
}

.input-group {
	padding-bottom: 10px;
}

.tab-pane{
height:500px;
}
</style>

<!--templates-->
<script type="text/template" id="template-laptop-row">
    <td><%= manufacturer %></td>
    <td><%= lmodel %></td>
    <td><%= screenSize %></td>
    <td><%= cpu %></td>
    <td><%= gpu %></td>
    <td><%= mainMem %> GB</td>
    <td><%= storageType %></td>
	<td>
	<button type="button" class="btn btn-basic" data-toggle="modal" data-target="#laptop-details-<%=lid%>">
	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
	</button>
	</td>
</script>

<script type="text/template"  id="template-laptop-details">
<% function options(vals,selected) { %>
<% vals.forEach(function(val,i){ %>
<option value="<%- val %>" <%= (val==selected)?"selected":""%> ><%= val %></option>
<% }); %>
<%};%>
<div class="modal fade" id="laptop-details-<%=lid%>" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Laptop Details</h4>
			</div>
			<div class="modal-body">

				<form class="form-horizontal">
					<div class="input-group">
						<span class="input-group-addon">ID</span> <input disabled
							class="form-control col-sm-10" type="text"
							id="laptop-id-<%= lid %>" value="<%= lid %>" />
					</div>
					<div class="input-group">
						<span class="input-group-addon">Model</span> <input
							class="form-control" type="text" id="laptop-model-<%= lid %>"
							value="<%= lmodel %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Manufacturer</span> <input
							class="form-control" type="text"
							id="laptop-manufacturer-<%= lid %>" value="<%= manufacturer %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Adapter Power</span> 
						<input
							class="form-control" type="text" id="adapter-power-<%= lid %>"
							value="<%= adapterPower %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Keyboard Backlight</span>
						<select class="form-control" id="kb-backlight-<%= lid %>" >
						<% var KBLTypes=['monochrome','color','none']; %>
						<% options(KBLTypes,kbBacklight) %>
						</select>
					</div>

					<div class="input-group">
						<span class="input-group-addon">CPU</span> <input
							class="form-control" type="text" id="cpu-<%= lid %>"
							value="<%= cpu %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">GPU</span> <input
							class="form-control" type="text" id="gpu-<%= lid %>"
							value="<%= gpu %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Memory</span> <input
							class="form-control" type="text" id="main-mem-<%= lid %>"
							value="<%= mainMem %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Screen Resolution</span> <input
							class="form-control" type="text"
							id="screen-resolution-<%= lid %>" value="<%= screenResolution %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Screen Size</span> <input
							class="form-control" type="text" id="screen-size-<%= lid %>"
							value="<%= screenSize %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Storage Size</span> <input
							class="form-control" type="text" id="storage-size-<%= lid %>"
							value="<%= storageSize %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Storage Type</span> 
						<select class="form-control" id="storage-type-<%= lid %>" >
						<% options(['HDD','SSD'], storageType) %>
						</select>
					</div>

					<div class="input-group">
						<span class="input-group-addon">Video Memory</span> <input
							class="form-control" type="text" id="video-mem-<%= lid %>"
							value="<%= videoMem %>" />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Weight</span> <input
							class="form-control" class="form-control" type="text"
							id="weight-<%= lid %>" value="<%= weight %>" />
					</div>
				</form>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Close
				</button>
				<button type="button" class="btn btn-danger btn-delete" data-dismiss="modal">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete
					</button>
				<button type="button" class="btn btn-success btn-save" data-dismiss="modal" >
					<span class="glyphicon glyphicon-save" aria-hidden="true"></span>Save changes
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal --> 
</script>

<title>Laptop</title>
</head>
<body>

	<div id="modals"></div>
<div class="container">
		<div class="row">
			<div class="col-sm-0 col-md-2"></div>
			<div class="col-md-12 col-md-8">
				<div class="page-header">
					<!-- Header -->
					<h1>
						E-World <small>Latest tech in touch</small>
					</h1>
				</div>
				<div>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home"
							aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
						<li role="presentation"><a href="#laptops"
							aria-controls="laptops" role="tab" data-toggle="tab">Laptops</a></li>
						<li role="presentation"><a href="#about"
							aria-controls="messages" role="tab" data-toggle="tab">About
								Us</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home">
							<h1>
								Home <br /> <small>just a placeholder</small>
							</h1>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="laptops">
							<div style="margin-top: 20px;">
								<div style="text-align:right;"><a href="#" class="btn btn-success" data-toggle="modal" data-target="#laptop-details-new">
								<span class="glyphicon glyphicon-file" aria-hidden="true"></span>New
								</a></div>
								<table id="laptop-table" class="display">
									<thead>
										<tr>
											<th>Make</th>
											<th>Model</th>
											<th>Screen Size</th>
											<th>CPU</th>
											<th>GPU</th>
											<th>Memory</th>
											<th>Storage</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody id="laptop-tbody"></tbody>
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="about">
							<h1>
								About <br /> <small>yet another placeholder</small>
							</h1>
						</div>
					</div>
				</div>
				<div>
					<!-- footer -->
					<p class="text-center">&copy;A00238069</p>
				</div>
			</div>

			<div class="col-sm-0 col-md-2"></div>
		</div>
	</div>
</body>
</html>